*{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.homeDiv>p{
    color: rgb(252, 233, 233);
    text-align: start;
    margin-left: 3%;
    font-size: 30px;
}
.hrLine{
    width: 140px;
    height: 1px;
    position: relative;
    right:470px;
    bottom:30px;
    border-radius:40%;
}
.box{ 
    display: flex;
}
.cardd{ 
    width: 16rem;
    height: 30rem;
    margin-left: 10px;
    border: 2px solid rgb(82, 80, 80);
    /* border-radius:10px; */
}

.infoDiv{
    display: flex;
    position: relative;
    bottom: 70px;
    /* border-radius: 1px; */
    text-align: center;
    background-color: rgba(82, 80, 80, 0.589);
    justify-content:space-between;
    /* align-items:center; */
    height: 67px;
    color:white;

}
.img{
    width: 100%;
    height:480px;
}

.btn{
    display: flex;
    justify-content:space-around;
    margin: 10px;
    position: relative;
    bottom: 110px;
}
.button{
    border: transparent;
    color: white;
    border-radius:3px;
    background-color: rgba(160, 159, 159, 0.795);
    border: 3px solid rgba(160, 159, 159, 0.795);
}
.boldInfo{
    font-weight: bold;
    position: relative;
    bottom: 10px;
}